Flask==1.1.2
keras==2.12.0
keras_nightly==2.5.0.dev2021032900
matplotlib==3.4.1
numpy==1.19.4
pandas==1.2.4
scikit_learn==1.2.2
seaborn==0.11.1
tensorflow==2.12.0
tensorflow_gpu==2.5.0rc0
xgboost==1.4.2
